* {
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', monospace;
    font-size: 16px;
}
h1 {
    font-size: 3rem;
    padding: 0 2rem;
}
#map {
    float: left;
    height: 100%;
    width: 65%;
}
#info {
    position: relative;
    float: left;
    height: 100%;
    width: 35%;
    background: #fff;
    border-right: 2px solid #d4dadc;
    box-sizing: border-box;
}
#info img {
    width: 150px;
    margin: 2rem auto 0;
    padding: 0 0 1rem;
}
#logo {
    text-align: center;
}
a {
    color: #0074d8;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
ul {
    list-style: none;
}
ul, #credits, #welcome {
    padding: 3rem 3rem 2rem;
}
ul li {
    padding: 0 0 .75rem;
}
span {
    font-weight: bold;
}
.leaflet-select {
    padding: .45rem;
}
.leaflet-touch .leaflet-bar, .leaflet-select {
    border: 2px solid #d4dadc;
    border-radius: 4px;
}
#credits {
    position: absolute;
    bottom: 0;
    background: #fff;
}
#welcome {
    color: #8b9aa5;
    margin-top: 3rem;
}
button, #data, .leaflet-select {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', monospace;
}
hr {
    border: none;
    border-top: 1px solid #d4dadc;
    margin: 1rem 0 2rem;
}
.leaflet-control-attribution {
    display: none;
}
.dimensoes {
    margin: 2rem 0 0 0;
}
.dimensoes button {
    display: inline-block;
    background: #d2e3f9;
    color: #000;
    border: 0;
    padding: .5rem .75rem;
    margin: .4rem .2rem;
    border-radius: 4px;
    font-size: 1.1rem;
}
.red {
    background:#ffcaca;
}